.todo-section {
  margin-top: 2rem;
}

.todo-section a {
  text-decoration: none;
}
.todo-wrapper {
  margin-top: 1.4rem;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

/* Card */
.card {
  width: 260px;
  height: 280px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 1rem;
  box-sizing: border-box;
  margin-top: 8px;
  overflow: hidden;
}

.card h3 {
  font-weight: 500;
}

.cardContent {
  margin-top: 2rem;
  height: 80%;
  overflow: hidden;
}

.tickRow {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 8px;
}

.tickRow .tickrow_inputText {
  margin: 0;
  font-size: 16px;
  border: none;
  outline: none;
}

.checkbox {
  width: 18px;
  height: 18px;
}
