.appContainer {
  height: 100vh;
  display: grid;
  grid-template-columns: 280px auto;
  transition: grid-template-columns 1s ease;
}

.navDrawer {
  background-color: var(--primary);
  transition: left 0.4s ease-in-out;
}

@media screen and (max-width: 600px) {
  .appContainer {
    grid-template-columns: auto;
    position: relative;
  }

  .navDrawer {
    /* height: 100vh; */
    top: 80px;
    left: -100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: left 0.4s ease-in-out;
    z-index: 4;
    box-shadow: inset 0px 8px 12px 0px #0c0f3a73;
  }
}
